<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	
	<!-- Header -->
	<%- include('./partials/header')%>
	
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner_principal.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">RECIENTES</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
		    <% for (let i=0; i<8; i++) { %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detalle/<%= productos[i].id %>">
							<figure class="product-box_image">
								<img src= "<%= productos[i].product_img %>"  >
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].product_name %></h2>
								<p><%= productos[i].product_description %> </p>
								<p>Comentarios del producto: <%= comentarios.length  %></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
			



        
			
			
			
			
	<!-- /Novedades -->
	<!-- Más comentados -->
	<!-- /Más comentados -->


	<!-- footer -->

	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>