<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if(locals.UserName){ %>
		<%- include('./partials/header') %>
		<% } else{ %>
			<%- include('./partials/header')%>
		<% } %>
	<!-- /Header -->
	  
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title tituloProfile"><%= producto.productName %> Publicado por: <a href="/users/profile/<%= usuario.id %>"><%= usuario.username %></a></h2> 
			<% if (locals.UserName != undefined) { %>
				<% if(locals.UserName.id == producto.usuarioId){ %>
					<form action="/products/productEdit/<%= producto.id %>" method="get">
						<button type="submit" class="botonPerfil">Editar</button>
					</form>
					
				<% } }%>
			</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src='<%= producto.productImg %>' alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.productDescription %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i=0 ; i< comments[i].length ; i++) { %>
						<article>
							<img src='<%= comments[i].usuario.img %>' alt="">
							<div class="data">
								<p class="user">
								 <strong> <a href="/users/profile"><%=comments[i].usuarioId %><%=  comments[i].usuario.username %></a> </strong> 
								<%= comments[i].textoComentario %></p>
							</div>
						</article>
					<% } %>
						

					</section>
					<% if(locals.UserName){ %>
					<form class="form" action="/products/commentAdd/<%= producto.id %>" method="POST">
						<input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				<% } else{ %>
						
						<a  href="/users/login"><p>Debes iniciar sesion para poder agregar comentarios</p></a>
				<% } %>	
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>