<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if(locals.UserName){ %>
		<%- include('./partials/headerLogueado')%>
	<% } else{ %>
		<%- include('./partials/header')%>
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.img %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<% if (locals.UserName) {%>
						<% if(locals.UserName.username == usuario.username) {%>
							<h1 class="main-title"><%= usuario.username %>
								<a href="/users/profileEdit">
									<i class="fas fa-cog"></i>
								</a>
							</h1>
						<% } else { %>
							<h1 class="main-title"><%= usuario.username %> </h1>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a>
						<% } %>
					<% } else { %>
						<h1 class="main-title"><%= usuario.username %> </h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					<% } %>
				</div>
				<div>
					<ul class="">
						<li><%= productos.length %> productos</li>
						<li><%= usuario.email %></li>
						<li>200 seguidores</li>
						<li><%= usuario.comentarios.length %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
		<% if(productos.length != 0){ %>
			<% for (let i=0; i<productos.length; i++) { %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detalle">
							<figure class="product-box_image">
								<img src=<%= productos[i].productsImg %> alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].productName %></h2>
								<p><%= productos[i].productDescription %></p>
								<p>Comentarios del producto: <%=  productos[i].comentario.length %></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
			<% } else { %>
					<h3>No hay productos cargados por este usuario </h3>
			g<% } %>	
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>

