
<!-- Include Head -->

<%- include('./partials/head') %>


	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<ol class="flex-box-c">
					<% for( let i = 0; i < productos.length; i++ ) { %>
					  <li class="li">
						<a href="/productos/id/<%= productos[i].id %>"><%= productos[i].product_name %> </a> 
					  </li>
					<% } %>
				  </ol>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->


